<!-- Danh sách yêu cầu xuất kho -->
<nz-row nzAlign="middle" class="mb-12">
  <app-breadcrumb
    nz-col
    [nzSpan]="23"
    *ngIf="isBreadcrumb"
    [listBreadCrumb]="breadcrumbs"
    [isHidden]="isHidden"
  ></app-breadcrumb>
</nz-row>

<div class="common-bg">
  <nz-row nzJustify="center" class="mb-12">
    <h2 class="m-0">
      {{ "sidebar.transfer.child.transferRequest.child.list" | translate }}
    </h2>
  </nz-row>

  <nz-row>
    <nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzXXl="24">
      <h4 class="m-0">{{ "search.general" | translate }}</h4>
    </nz-col>
    <nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="8" nzXXl="6">
      <form (ngSubmit)="searchGeneralFunc()">
        <nz-input-group
          [nzPrefix]="prefixButtonSearch"
          [nzSuffix]="suffixButtonClear"
        >
          <input
            type="text"
            nz-input
            placeholder="{{ 'search.general.placeholder' | translate }}"
            [(ngModel)]="searchGeneral"
            name="searchGeneral"
          />
        </nz-input-group>
        <ng-template #prefixButtonSearch>
          <span
            class="search-click"
            style="color: #d9d9d9"
            nz-icon
            nzType="search"
            (click)="searchGeneralFunc()"
          ></span>
        </ng-template>
        <ng-template #suffixButtonClear>
          <span
            nz-icon
            class="ant-input-clear-icon"
            nzTheme="fill"
            nzType="close-circle"
            *ngIf="searchGeneral"
            (click)="searchGeneral = ''; searchGeneralFunc()"
          ></span>
        </ng-template>
      </form>
    </nz-col>
  </nz-row>

  <nz-row
    nzAlign="bottom"
    nzJustify="space-between"
    nzGutter="16"
    class="mb-12"
  >
    <nz-col
      nzXs="24"
      nzSm="24"
      nzMd="24"
      nzLg="24"
      nzXl="24"
      nzXXl="24"
      class="mt-12"
    >
      <nz-row nzJustify="end" nzGutter="16">
        <nz-col >
          <app-button
            [title]="'add.new'"
            [buttonType]="'text'"
            [iconType]="'plus-circle'"
            [iconTheme]="'outline'"
            [tooltipTitle]="'Thêm mới yêu cầu chuyển kho'"
            (btnClick)="onHandleAddNew()"
          ></app-button>
        </nz-col>
        <nz-col>
          <button
            nz-button
            nzType="text"
            class="p-0"
            nz-tooltip
            nz-dropdown
            [nzDropdownMenu]="configColumns"
          >
            <img src="./assets/image/svg/exportRequest_column.svg" alt="" />
            <nz-dropdown-menu #configColumns="nzDropdownMenu">
              <div
                style="
                  background-color: white;
                  padding: 8px 12px;
                  border: 1px solid #ccc;
                "
              >
                <ng-container>
                  <label
                    class="mb-4"
                    nz-checkbox
                    [(ngModel)]="allChecked"
                    (ngModelChange)="onHandleUpdateAllChecked()"
                    [nzIndeterminate]="indeterminate"
                  >
                    Tất cả
                  </label>
                  <br />
                </ng-container>
                <ng-container *ngFor="let column of columns; let i = index">
                  <label
                    [(ngModel)]="column.check"
                    nz-checkbox
                    (ngModelChange)="onClickCheckBox(column)"
                    >{{ column.keyTitle | translate }}</label
                  >
                  <br />
                </ng-container>
              </div>
            </nz-dropdown-menu>
          </button>
        </nz-col>
      </nz-row>
    </nz-col>
  </nz-row>

  <nz-row>
    <nz-col nzSpan="24">
      <nz-table
        nzBordered
        [nzFrontPagination]="false"
        [nzShowPagination]="false"
        [nzScroll]="{ x: 'auto' }"
        [nzData]="listData"
        #nzTable
        nzSize="small"
        class="w-100"
      >
        <thead>
          <tr>
            <ng-container *ngFor="let column of columns; let i = index">
              <ng-container *ngIf="column.check">
                <th
                  nz-resizable
                  [nzWidth]="column.width"
                  (nzResize)="onResize($event, i)"
                  [nzMaxWidth]="500"
                  [nzMinWidth]="100"
                  style="cursor: pointer"
                  (click)="customSortFunction(column)"
                >
                  <div class="editable-cell">
                    {{ column.keyTitle | translate }}
                    <nz-resize-handle nzDirection="right">
                      <div class="resize-trigger"></div>
                    </nz-resize-handle>
                    <span
                      *ngIf="column.count == 0"
                      style="
                        float: right;
                        position: absolute;
                        bottom: 12px;
                        right: 10px;
                        cursor: pointer;
                      "
                      nz-tooltip="Sắp xếp giảm dần"
                      nz-icon
                      nzType="swap"
                      [nzRotate]="90"
                      nzTheme="outline"
                    ></span>
                    <span
                      *ngIf="column.count > 0 && column.sortOrder == 'descend'"
                      style="
                        float: right;
                        position: absolute;
                        bottom: 12px;
                        right: 10px;
                        cursor: pointer;
                      "
                      nz-tooltip="Sắp xếp tăng dần"
                      nz-icon
                      nzType="arrow-down"
                      nzTheme="outline"
                    ></span>
                    <span
                      *ngIf="column.count > 0 && column.sortOrder == 'ascend'"
                      style="
                        float: right;
                        position: absolute;
                        bottom: 12px;
                        right: 10px;
                        cursor: pointer;
                      "
                      nz-tooltip="Sắp xếp giảm dần"
                      nz-icon
                      nzType="arrow-up"
                      nzTheme="outline"
                    ></span>
                  </div>
                </th>
              </ng-container>
            </ng-container>
            <th nzWidth="100px" nzAlign="center" nzRight>
              {{ "table.action" | translate }}
            </th>
          </tr>
        </thead>
        <tbody [class]="listData.length <= 0 ? '' : 'striped-tr'">
          <tr>
            <ng-container *ngFor="let column of columns">
              <ng-container *ngIf="column.check">
                <td
                  *ngIf="
                    column.keyName == 'createdAt' ||
                    column.keyName == 'updatedAt' ||
                    column.keyName == 'transferDate' ||
                    column.keyName == 'receivedDate'
                  "
                >
                  <nz-range-picker
                    [(ngModel)]="dataFilter[column.keyName]"
                    (ngModelChange)="getWtrRequest()"
                    [nzPlaceHolder]="[
                      'start_date' | translate,
                      'end_date' | translate
                    ]"
                  ></nz-range-picker>
                </td>
                <td *ngIf="column.keyName == 'status'">
                  <nz-select
                    class="select-search"
                    style="width: 100%"
                    [nzAllowClear]="true"
                    nzPlaceHolder="{{ 'all_select' | translate }}"
                    [(ngModel)]="dataFilter[column.keyName]"
                    (ngModelChange)="search()"
                  >
                    <nz-option
                      *ngFor="let item of listStatus"
                      [nzValue]="item.value"
                      [nzLabel]="item.text"
                    ></nz-option>
                  </nz-select>
                </td>
                <td
                  *ngIf="
                    column.keyName == 'note' ||
                    column.keyName == 'wtrTypeId' ||
                    column.keyName == 'transferRequestCode' ||
                    column.keyName == 'sender' ||
                    column.keyName == 'receiver'
                  "
                >
                  <nz-input-group
                    nzSearch
                    [nzPrefix]="prefixText"
                    [nzSuffix]="suffixText"
                  >
                    <input
                      type="text"
                      nz-input
                      [(ngModel)]="dataFilter[column.keyName]"
                      (keyup)="enterSearch($event)"
                    />
                  </nz-input-group>
                  <ng-template #prefixText>
                    <span
                      (click)="search()"
                      class="search-click"
                      style="color: #d9d9d9"
                      nz-icon
                      nzType="search"
                    ></span>
                  </ng-template>
                  <ng-template #suffixText>
                    <span
                      nz-icon
                      class="ant-input-clear-icon"
                      nzTheme="fill"
                      nzType="close-circle"
                      *ngIf="dataFilter[column.keyName]"
                      (click)="clear(column)"
                    ></span>
                  </ng-template>
                </td>
                <td
                  *ngIf="
                    column.keyName == 'fromWarehouseCode' ||
                    column.keyName == 'toWarehouseCode'
                  "
                >
                  <nz-select
                    class="select-search"
                    style="width: 100%"
                    [nzAllowClear]="true"
                    nzPlaceHolder="{{ 'all_select' | translate }}"
                    [(ngModel)]="dataFilter[column.keyName]"
                    (ngModelChange)="search()"
                  >
                    <nz-option
                      *ngFor="let item of listWarehouse"
                      [nzValue]="item.value"
                      [nzLabel]="item.text"
                    ></nz-option>
                  </nz-select>
                </td>
              </ng-container>
            </ng-container>
            <td nzRight></td>
          </tr>
          <ng-container *ngFor="let row of nzTable.data; let i = index">
            <tr>
              <ng-container *ngFor="let column of columns; let j = index">
                <ng-container *ngIf="column.check">
                  <td
                    *ngIf="
                      column.keyName !== 'createdAt' &&
                      column.keyName !== 'updatedAt' &&
                      column.keyName !== 'transferDate' &&
                      column.keyName !== 'receivedDate' &&
                      column.keyName !== 'status'
                    "
                  >
                    {{ row[column.keyName] }}
                  </td>
                  <td
                    nzAlign="right"
                    *ngIf="
                      column.keyName == 'createdAt' ||
                      column.keyName == 'updatedAt' ||
                      column.keyName == 'transferDate' ||
                      column.keyName == 'receivedDate'
                    "
                  >
                    {{ row[column.keyName] | date : "dd/MM/yyyy" }}
                  </td>
                  <td *ngIf="column.keyName == 'status'" nzAlign="center">
                    <div [ngSwitch]="row[column.keyName]">
                      <div
                        class="border-element bordered-element__status_4"
                        *ngSwitchCase="'1'"
                      >
                        Yêu cầu mới
                      </div>
                      <div
                        class="border-element bordered-element__status_8"
                        *ngSwitchCase="'2'"
                      >
                        Từ chối chuyển kho
                      </div>
                      <div
                        class="border-element bordered-element__status_1"
                        *ngSwitchCase="'3'"
                      >
                        Đã chuyển kho
                      </div>
                      <div
                        class="border-element bordered-element__status_9"
                        *ngSwitchCase="'4'"
                      >
                        Đang chuyển kho
                      </div>
                    </div>
                  </td>
                </ng-container>
              </ng-container>
              <td nzAlign="center" nzRight>
                <div class="d-flex" style="justify-content: space-evenly">
                  <div class="w-32px">
                    <app-button
                      *ngIf="
                        (row['status'] == 1 || row['status'] == 4) 
                      "
                      [iconType]="'plus-circle'"
                      [iconTheme]="'fill'"
                      [buttonType]="'text'"
                      nz-tooltip="Tạo phiếu chuyển kho"
                      (btnClick)="onHandleCreateGDN(row)"
                    ></app-button>
                  </div>
                  <div class="w-32px">
                    <app-button
                      *ngIf="
                        (row['status'] == 1 || row['status'] == 4) 
                      "
                      [iconType]="'plus-circle'"
                      [iconTheme]="'fill'"
                      [buttonType]="'text'"
                      nz-tooltip="Từ chối yêu cầu chuyển kho"
                      [rotate]="135"
                      (btnClick)="onHandleRefuse(row)"
                    ></app-button>
                  </div>
                  <div class="w-32px">
                    <app-button
                      [iconType]="'info-circle'"
                      [iconTheme]="'fill'"
                      [buttonType]="'text'"
                      nz-tooltip="Xem chi tiết yêu cầu chuyển kho"
                      (btnClick)="onHandleView(row)"
                    ></app-button>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </nz-col>
  </nz-row>
  <nz-row *ngIf="total" nzGutter="24" nzAlign="middle" nzJustify="center">
    <div nz-col nzSpan="24">
      <app-pagination
        [currentPage]="page"
        [currentSize]="per_page"
        [total]="total"
        (emitPage)="pagination($event)"
      ></app-pagination>
    </div>
  </nz-row>

  <app-popup-cancel
    [isVisible]="isVisibleCancel"
    (cancel)="onHandleCancelPopup($event)"
    (isVisibleChange)="onHandleConfirmPopup($event)"
  >
  </app-popup-cancel>
</div>

<app-popup-confirm
  title="Xác nhận từ chối chuyển kho"
  [content]="'Từ chối chuyển kho ' + currentRejectWtr.transferRequestCode"
  [isVisible]="isVisiblePopupRejectWtr"
  (cancel)="isVisiblePopupRejectWtr = $event"
  (isVisibleChange)="rejectWtr()"
></app-popup-confirm>
