<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="null"
  (nzOnCancel)="onClickCancelCreate()"
  [nzWidth]="600"
>
  <ng-template #modalTitle>
    <h2 style="text-align: center; color: #ff7a00" class="m-0">Xác nhận tạo mới vị trí</h2>
  </ng-template>

  <ng-template #modalContent>
    <p>Bạn có muốn <span style="font-weight: 800">Tạo mới vị trí</span>?</p>
    <div nz-row nzJustify="center" nzGutter="24" class="mt-24">
      <nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6" nzXXl="6">
        <button
          nz-button
          (click)="onClickCancelCreate()"
          style="
            background-color: #e5e5e5;
            color: #000;
            border: 1px solid #e5e5e5;
            width: 100%;
          "
          nzType="primary"
        >
          {{ "button.cancel" | translate }}
        </button>
      </nz-col>
      <nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6" nzXXl="6">
        <button nz-button (click)="onClickCreate()" style="width: 100%" nzType="primary">
          {{ "button.createNew" | translate }}
        </button>
      </nz-col>
    </div>
  </ng-template>
</nz-modal>
