<nz-row nzGutter="24">
  <nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzXXl="24">
    <nz-row class="mb-24" style="font-size: 20px">
      <nz-col nzSpan="24">
        <span
          style="
            font-weight: 600;
            color: rgba(0, 0, 0, 0.7);
            font-variant-numeric: lining-nums proportional-nums;
          "
          >{{ "menu.manage.receipt.list" | translate }}:</span
        >
        {{ importRequestCode }}
      </nz-col>
    </nz-row>
    <nz-row style="font-size: 18px">
      <nz-col nzSpan="24">
        {{ "ui.receipt.required.reasonCancelRequest" | translate }}
        <span class="error-span">*</span>
      </nz-col>
      <nz-col nzSpan="24">
        <nz-input-group
          [nzSuffix]="inputClearNote"
          class="ant-input-affix-wrapper-textarea-with-clear-btn"
        >
          <textarea
            style="font-size: 16px"
            nz-input
            [(ngModel)]="reasonCancelRequest"
            placeholder="Nhập lý do từ chối yêu câu nhập kho"
          ></textarea>
        </nz-input-group>
        <ng-template #inputClearNote>
          <span
            nz-icon
            class="ant-input-clear-icon"
            nzTheme="fill"
            nzType="close-circle"
            *ngIf="reasonCancelRequest"
            (click)="reasonCancelRequest = ''"
          ></span>
        </ng-template>
      </nz-col>
    </nz-row>
  </nz-col>
</nz-row>
<nz-divider></nz-divider>
<nz-row nzJustify="end" nzGutter="24">
  <nz-col>
    <app-button
      (btnClick)="onHandleCancel()"
      [className]="'common-btn-close'"
      [title]="'btn.cancel'"
    >
    </app-button>
  </nz-col>
  <nz-col>
    <app-button (btnClick)="isVisibleConfirm = true" [title]="'btn.confirm'">
    </app-button>
  </nz-col>
</nz-row>

<app-popup-cancel
  [isVisible]="isVisibleCancel"
  (cancel)="onHandleCancelPopup($event)"
  (isVisibleChange)="onHandleConfirmPopup($event)"
>
</app-popup-cancel>

<app-popup-confirm
  title="Xác nhận từ chối yêu cầu nhập kho"
  content="Từ chối yêu cầu nhập kho"
  [isVisible]="isVisibleConfirm"
  (cancel)="isVisibleConfirm = $event"
  (isVisibleChange)="onHandOk()"
>
</app-popup-confirm>
