/* --- DASHBOARD NUMBER --- */
.container-dashboard-number {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.dashboard-number {
  height: 120px;
  flex-grow: 1;
  flex-basis: 250px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  padding: 10px 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.dashboard-icon {
  width: 35%;
  display: flex;
  justify-content: center;
}

.dashboard-text {
  width: 65%;
  opacity: 0.8;
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 22px;
  font-weight: 800;
}

.text {
  font-size: 14px;
}

/* --- CHART + TABLE LAYOUT --- */
.container-dashboard-chart {
  display: flex;
  padding: 16px;
}

.container-chart {
  width: 100%;
  height: 450px;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);

  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-pie {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Đảm bảo canvas không bị méo khi resize */
canvas {
  max-width: 100%;
  max-height: 100%;
}

/* --- TABLE CONTAINER --- */
.container-table {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

/* Striped rows */
.striped-tr tr:nth-child(odd) {
  background: #fafafa;
}

.equal-height-row {
  display: flex;
  align-items: stretch;
}

.equal-column {
  display: flex;
  flex-direction: column;
}

/* Hai container chính có chiều cao bằng nhau */
.container-chart,
.container-table {
  flex: 1;
  height: 450px;
  min-height: 450px; 
}

.chart-bar {
  width: 100%;
  height: 100%;
  
}


/* Responsive: khi màn nhỏ, chuyển về 1 cột */
@media (max-width: 992px) {
  .container-chart {
    height: 350px;
  }
  .chart-pie {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container-dashboard-chart {
    margin-top: 16px;
  }

  .container-chart {
    height: 300px;
  }

  canvas {
    height: auto !important;
  }
}
