:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  /* height: 100%; */
  background-color: #E5E5E5;
}
:disabled{
  color: rgba(0, 0, 0, 0.25);
}
.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  background-color: #E5E5E5;
}

.ant-menu.ant-menu-dark {
  background: #E5E5E5 !important;
  color: black;
}

.ant-menu-item-selected {
  background-color: #FF7A00;
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  transition: all .3s, padding 0s;
}

.header-right-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  transition: all .3s, padding 0s;
}

.trigger:hover {
  cursor: pointer;
  color: #FF7A00;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 16px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all .3s;
  background-color: #2a3884;
}

.sidebar-logo img {
  display: inline-block;
  height: 52px;
  width: 128px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

.sidebar-logo__collapse {
  position: relative;
  height: 64px;
  padding-left: 8px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all .3s;
  background-color: #2a3884;
}

.sidebar-logo__collapse img {
  display: inline-block;
  height: 24px;
  width: 48px;
  vertical-align: middle;
}

.sidebar-logo__collapse h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

.title-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

.tenant-title h1 {
  display: flex;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}


.name-hello {
  display: flex;
  margin: 0 0 0 8px;
  color: #fff;
  font-size: 12px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
  line-height: 12px;
}

.name-manage {
  display: flex;
  margin: 0 0 0 8px;
  color: #fff;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
  line-height: 14px;
  font-weight: 600;
}


nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
  background-color: #2a3884;
  color: #fff
}

nz-content {
  margin: 24px;
  margin-top: 12px;
}

.inner-content {
  /* padding: 24px; */
  /* background: #fff; */
  height: 100%;
}

.national-photo {
  width: 32px;
  height: 20px;
  /* border: 0.3px solid #98a8ff */
}

.select-national {
  width: 106px;
  color: #fff
}

footer {
  background-color: #f2f2f2;
  padding: 0 0 20px 0;
}

.container-footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.footer-content {
  text-align: center;
}

.footer-content p {
  font-size: 14px;
  color: #666;
  margin: 0;
}


.mark__all-read:hover {
  cursor: pointer;
}

.mark__see-notify:hover {
  cursor: pointer;
}
