<!-- Xem chi tiết yêu cầu xuất kho -->
<nz-row nzAlign="middle" class="mb-12">
  <app-breadcrumb
    nz-col
    [nzSpan]="23"
    *ngIf="isBreadcrumb"
    [listBreadCrumb]="breadcrumbs"
    [isHidden]="isHidden"
  ></app-breadcrumb>
</nz-row>
<div class="common-bg mb-24" *ngIf="messageRefuse">
  <div class="error-span">
    <b> Lý do từ chối duyệt </b>
  </div>
  <div class="mt-12">
    {{ messageRefuse }}
  </div>
</div>
<div class="common-bg mb-24" *ngIf="messageRevoke">
  <div style="color: #0047ff">
    <b> Lý do thu hồi yêu cầu duyệt </b>
  </div>
  <div class="mt-12">
    {{ messageRevoke }}
  </div>
</div>

<div class="common-bg">
  <nz-row>
    <h2 class="m-0">
      {{ "sidebar.export.child.exportRequest.child.information" | translate }}:
      <span>{{ param }}</span>
    </h2>
  </nz-row>

  <nz-row
    nzAlign="top"
    nzJustify="start"
    [nzGutter]="{ xs: 0, sm: 0, md: 24, lg: 24, xl: 48, xxl: 48 }"
  >
    <nz-col
      nzXs="24"
      nzSm="24"
      nzMd="12"
      nzLg="12"
      nzXl="8"
      nzXXl="8"
      class="mt-12"
    >
      <nz-row>
        <nz-col nzSpan="24"
          >{{
            "sidebar.export.child.exportRequest.child.exportType" | translate
          }}
        </nz-col>
        <nz-col nzSpan="24">
          <nz-select
            [disabled]="true"
            nzShowSearch
            nzPlaceHolder="-- Chọn --"
            [(ngModel)]="dataInformation.exportType"
            class="w-100"
          >
            <nz-option
              *ngFor="let option of listExportType"
              [nzValue]="option.value"
              [nzLabel]="option.text"
            ></nz-option>
          </nz-select>
        </nz-col>
      </nz-row>
    </nz-col>
    
    <nz-col
      nzXs="24"
      nzSm="24"
      nzMd="12"
      nzLg="12"
      nzXl="8"
      nzXXl="8"
      class="mt-12"
    >
      <nz-row>
        <nz-col nzSpan="24"
          >{{ "sidebar.export.child.exportRequest.child.status" | translate }}
        </nz-col>
        <nz-col nzSpan="24">
          <nz-select
            [disabled]="true"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="-- Chọn --"
            [(ngModel)]="dataInformation.status"
            class="w-100"
          >
            <nz-option
              *ngFor="let option of listStatus"
              [nzValue]="option.value"
              [nzLabel]="option.text"
            ></nz-option>
          </nz-select>
        </nz-col>
      </nz-row>
    </nz-col>
    <nz-col
      nzXs="24"
      nzSm="24"
      nzMd="12"
      nzLg="12"
      nzXl="8"
      nzXXl="8"
      class="mt-12"
      *ngIf="dataInformation.exportType == 1 || dataInformation.exportType == 2"
    >
      <nz-row>
        <nz-col nzSpan="24"
          >{{ "sidebar.export.child.exportRequest.child.woCode" | translate }}
          <span
            class="error-span"
            *ngIf="
              dataInformation.status == 0 &&
              (checkGroupsInTokenQCER ||
                checkGroupsInTokenAdmin ||
                checkIsRole('FCIM_ADMIN'))
                ? true
                : false
            "
            >*</span
          ></nz-col
        >
        <nz-col nzSpan="24">
          <nz-input-group [nzSuffix]="inputClearWoCode">
            <input
              (click)="showPopoverWoCode()"
              placeholder="-- Chọn -- "
              type="text"
              nz-input
              readonly
              [(ngModel)]="dataInformation.woCode"
              [disabled]="
                dataInformation.status == 0 &&
                (checkGroupsInTokenQCER ||
                  checkGroupsInTokenAdmin ||
                  checkIsRole('FCIM_ADMIN'))
                  ? false
                  : true
              "
            />
            <span
              nz-popover
              nzPopoverTrigger="click"
              [nzPopoverContent]="contentWoCode"
              nzPopoverPlacement="bottomLeft"
              [nzPopoverVisible]="showWoCode"
              (nzPopoverVisibleChange)="popoverVisibleChangeWoCode($event)"
            >
            </span>
          </nz-input-group>
          <ng-template #inputClearWoCode>
            <span
              nz-icon
              class="ant-input-clear-icon"
              nzTheme="outline"
              nzType="down"
            ></span>
          </ng-template>
          <ng-template #contentWoCode>
            <nz-table
              #tableWoCode
              [nzData]="listWo"
              nzBordered
              nzFrontPagination="false"
              nzShowPagination="false"
              style="width: 1300px"
              [nzScroll]="{ y: '500px' }"
              nzSize="small"
            >
              <thead>
                <tr>
                  <th>
                    {{
                      "sidebar.export.child.exportRequest.child.woCode"
                        | translate
                    }}
                  </th>
                  <!-- <th>
                    {{
                      "sidebar.export.child.exportRequest.child.totalLotNumber"
                        | translate
                    }}
                  </th> -->
                  <th nzWidth="240px">
                    {{
                      "sidebar.export.child.exportRequest.child.startDate"
                        | translate
                    }}
                  </th>
                  <th nzWidth="240px">
                    {{
                      "sidebar.export.child.exportRequest.child.endDate"
                        | translate
                    }}
                  </th>
                  <th>
                    {{
                      "sidebar.export.child.exportRequest.child.createdBy"
                        | translate
                    }}
                  </th>
                  <th nzWidth="240px">
                    {{
                      "sidebar.export.child.exportRequest.child.updatedAt"
                        | translate
                    }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <nz-input-group
                      [nzSuffix]="woCode"
                      [nzPrefix]="woCodePre"
                      (keyup)="filterSearchWoCode($event)"
                    >
                      <input
                        type="text"
                        nz-input
                        [(ngModel)]="dataFilterWoCode.woCode"
                      />
                    </nz-input-group>
                    <ng-template #woCodePre>
                      <span
                        nz-icon
                        nzType="search"
                        style="cursor: pointer; color: #d9d9d9"
                        (click)="filterSearchWoCode($event)"
                      ></span>
                    </ng-template>
                    <ng-template #woCode>
                      <span
                        nz-icon
                        class="ant-input-clear-icon"
                        nzTheme="fill"
                        nzType="close-circle"
                        *ngIf="dataFilterWoCode.woCode"
                        (click)="clearWoCode('woCode')"
                      ></span>
                    </ng-template>
                  </td>
                  <!-- <td></td> -->
                  <td>
                    <nz-range-picker
                      [(ngModel)]="dataFilterWoCode.startAt"
                      (ngModelChange)="onHandleFetchListWo()"
                      [nzPlaceHolder]="[
                        'start_date' | translate,
                        'end_date' | translate
                      ]"
                    ></nz-range-picker>
                  </td>
                  <td>
                    <nz-range-picker
                      [(ngModel)]="dataFilterWoCode.endAt"
                      (ngModelChange)="onHandleFetchListWo()"
                      [nzPlaceHolder]="[
                        'start_date' | translate,
                        'end_date' | translate
                      ]"
                    ></nz-range-picker>
                  </td>
                  <td>
                    <nz-input-group
                      [nzSuffix]="createdBy"
                      [nzPrefix]="createdByPre"
                      (keyup)="filterSearchWoCode($event)"
                    >
                      <input
                        type="text"
                        nz-input
                        [(ngModel)]="dataFilterWoCode.createdBy"
                      />
                    </nz-input-group>
                    <ng-template #createdByPre>
                      <span
                        nz-icon
                        nzType="search"
                        style="cursor: pointer; color: #d9d9d9"
                        (click)="filterSearchWoCode($event)"
                      ></span>
                    </ng-template>
                    <ng-template #createdBy>
                      <span
                        nz-icon
                        class="ant-input-clear-icon"
                        nzTheme="fill"
                        nzType="close-circle"
                        *ngIf="dataFilterWoCode.createdBy"
                        (click)="clearWoCode('createdBy')"
                      ></span>
                    </ng-template>
                  </td>
                  <td>
                    <nz-range-picker
                      [(ngModel)]="dataFilterWoCode.updatedAt"
                      (ngModelChange)="onHandleFetchListWo()"
                      [nzPlaceHolder]="[
                        'start_date' | translate,
                        'end_date' | translate
                      ]"
                    ></nz-range-picker>
                  </td>
                </tr>
                <tr
                  style="cursor: pointer"
                  class="click-row"
                  *ngFor="let row of tableWoCode.data"
                  (click)="chooseWoCode(row)"
                >
                  <td>{{ row.woCode }}</td>
                  <!-- <td>{{ row.techFormCode }}</td> -->
                  <!-- <td nzAlign="right">{{ row.totalLotNumber }}</td> -->
                  <td nzAlign="right">
                    {{ row.startDate | date : "dd/MM/YYYY" }}
                  </td>
                  <td nzAlign="right">
                    {{ row.endDate | date : "dd/MM/YYYY" }}
                  </td>
                  <td>{{ row.createdBy }}</td>
                  <td nzAlign="right">
                    {{ row.updatedAt | date : "dd/MM/YYYY" }}
                  </td>
                </tr>
              </tbody>
            </nz-table>
            <nz-row
              *ngIf="totalWoCode"
              nzGutter="24"
              nzAlign="middle"
              nzJustify="center"
            >
              <div nz-col nzSpan="24">
                <app-pagination
                  [currentPage]="pageWoCode"
                  [currentSize]="perPageWoCode"
                  [total]="totalWoCode"
                  (emitPage)="paginationWoCode($event)"
                ></app-pagination>
              </div>
            </nz-row>
          </ng-template>
        </nz-col>
        <nz-col nzSpan="24" *ngIf="!dataInformation.woCode">
          <span class="error-span">Bạn phải chọn mã WO</span>
        </nz-col>
      </nz-row>
    </nz-col>
    
    <nz-col
      nzXs="24"
      nzSm="24"
      nzMd="12"
      nzLg="12"
      nzXl="8"
      nzXXl="8"
      class="mt-12"
      *ngIf="dataInformation.exportType == 1 || dataInformation.exportType == 2"
    >
      <nz-row>
        <nz-col nzSpan="24">{{ "Mã phiếu công nghệ" }} </nz-col>
        <nz-col nzSpan="24">
          <input
            [disabled]="true"
            type="text"
            nz-input
            [(ngModel)]="dataInformation.lotId"
          />
        </nz-col>
      </nz-row>
    </nz-col>
    <nz-col
      nzXs="24"
      nzSm="24"
      nzMd="12"
      nzLg="12"
      nzXl="8"
      nzXXl="8"
      class="mt-12"
      *ngIf="dataInformation.exportType == 1 || dataInformation.exportType == 2"
    >
      <nz-row>
        <nz-col nzSpan="24">{{ "Lô số" }} </nz-col>
        <nz-col nzSpan="24">
          <input
            [disabled]="true"
            type="number"
            nz-input
            [(ngModel)]="dataInformation.lotNumber"
          />
        </nz-col>
      </nz-row>
    </nz-col>

    <nz-col
      nzXs="24"
      nzSm="24"
      nzMd="12"
      nzLg="12"
      nzXl="8"
      nzXXl="8"
      class="mt-12"
      *ngIf="dataInformation.exportType == 1"
    >
      <nz-row>
        <nz-col nzSpan="24">{{ "Mã sản xuất" }} </nz-col>
        <nz-col nzSpan="24">
          <input
            [disabled]="true"
            type="text"
            nz-input
            [(ngModel)]="dataInformation.productCode"
          />
        </nz-col>
      </nz-row>
    </nz-col>

    <nz-col
      nzXs="24"
      nzSm="24"
      nzMd="12"
      nzLg="12"
      nzXl="8"
      nzXXl="8"
      class="mt-12"
      *ngIf="dataInformation.exportType == 1"
    >
      <nz-row>
        <nz-col nzSpan="24">{{ "Tên sản phẩm" }} </nz-col>
        <nz-col nzSpan="24">
          <input
            [disabled]="true"
            type="text"
            nz-input
            [(ngModel)]="dataInformation.productName"
          />
        </nz-col>
      </nz-row>
    </nz-col>

    <nz-col
      nzXs="24"
      nzSm="24"
      nzMd="12"
      nzLg="12"
      nzXl="8"
      nzXXl="8"
      class="mt-12"
      *ngIf="dataInformation.exportType == 1 || dataInformation.exportType == 2"
    >
      <nz-row>
        <nz-col nzSpan="24"
          >{{
            "sidebar.export.child.exportRequest.child.startDate" | translate
          }}
        </nz-col>
        <nz-col nzSpan="24">
          <nz-date-picker
            [disabled]="true"
            nzPlaceHolder="dd/MM/yyyy"
            class="w-100"
            nzFormat="dd/MM/yyyy"
            [(ngModel)]="dataInformation.startAt"
          ></nz-date-picker>
        </nz-col>
      </nz-row>
    </nz-col>
    <nz-col
      nzXs="24"
      nzSm="24"
      nzMd="12"
      nzLg="12"
      nzXl="8"
      nzXXl="8"
      class="mt-12"
      *ngIf="dataInformation.exportType == 1 || dataInformation.exportType == 2"
    >
      <nz-row>
        <nz-col nzSpan="24"
          >{{ "sidebar.export.child.exportRequest.child.endDate" | translate }}
        </nz-col>
        <nz-col nzSpan="24">
          <nz-date-picker
            [disabled]="true"
            nzPlaceHolder="dd/MM/yyyy"
            class="w-100"
            nzFormat="dd/MM/yyyy"
            [(ngModel)]="dataInformation.endAt"
          ></nz-date-picker>
        </nz-col>
      </nz-row>
    </nz-col>

    <nz-col
      nzXs="24"
      nzSm="24"
      nzMd="12"
      nzLg="12"
      nzXl="8"
      nzXXl="8"
      class="mt-12"
      *ngIf="dataInformation.exportType == 1 || dataInformation.exportType == 2"
    >
      <nz-row>
        <nz-col nzSpan="24">{{
          "Thông tin người nhận hàng" | translate
        }}</nz-col>
        <nz-col nzSpan="24">
          <nz-input-group
            [nzSuffix]="receriverSuffix"
            (click)="showReceiverList()"
          >
            <input
              readonly
              placeholder="-- Chọn -- "
              type="text"
              nz-input
              [(ngModel)]="dataInformation.receiverName"
              [disabled]="
                (dataInformation.status == 0 || dataInformation.status == 2) &&
                (checkGroupsInTokenQCER ||
                  checkGroupsInTokenAdmin ||
                  checkIsRole('FCIM_ADMIN'))
                  ? false
                  : true
              "
            />
            <span
              *ngIf="
                (dataInformation.status == 0 || dataInformation.status == 2) &&
                (checkGroupsInTokenQCER ||
                  checkGroupsInTokenAdmin ||
                  checkIsRole('FCIM_ADMIN'))
                  ? true
                  : false
              "
              nz-popover
              nzPopoverTrigger="click"
              [nzPopoverContent]="contentReceiver"
              nzPopoverPlacement="bottomRight"
              [nzPopoverVisible]="showReceiver"
              (nzPopoverVisibleChange)="popoverVisibleChangeReceiver($event)"
            >
            </span>
          </nz-input-group>
          <ng-template #receriverSuffix>
            <span
              nz-icon
              class="ant-input-clear-icon"
              nzTheme="outline"
              nzType="down"
            ></span>
          </ng-template>
          <ng-template #contentReceiver>
            <nz-table
              #tableReceiver
              [nzData]="listReceiver"
              nzBordered
              nzFrontPagination="false"
              nzShowPagination="false"
              style="width: 600px"
              [nzScroll]="{ y: '500px' }"
              nzSize="small"
            >
              <thead>
                <tr>
                  <th>Mã nhân viên</th>
                  <th>Tên nhân viên</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <nz-input-group
                      [nzSuffix]="receiverCode"
                      [nzPrefix]="receiverCodePre"
                      (keyup)="filterSearchReceiver($event)"
                    >
                      <input
                        type="text"
                        nz-input
                        [(ngModel)]="dataFilterReceiverCode.receiverCode"
                      />
                    </nz-input-group>
                    <ng-template #receiverCodePre>
                      <span
                        nz-icon
                        nzType="search"
                        style="cursor: pointer; color: #d9d9d9"
                        (click)="filterSearchReceiver($event)"
                      ></span>
                    </ng-template>
                    <ng-template #receiverCode>
                      <span
                        nz-icon
                        class="ant-input-clear-icon"
                        nzTheme="fill"
                        nzType="close-circle"
                        *ngIf="dataFilterReceiverCode.receiverCode"
                        (click)="clearReceiver('receiverCode')"
                      ></span>
                    </ng-template>
                  </td>
                  <td>
                    <nz-input-group
                      [nzSuffix]="receiverName"
                      [nzPrefix]="receiverNamePre"
                      (keyup)="filterSearchReceiver($event)"
                    >
                      <input
                        type="text"
                        nz-input
                        [(ngModel)]="dataFilterReceiverCode.receiverName"
                      />
                    </nz-input-group>
                    <ng-template #receiverNamePre>
                      <span
                        nz-icon
                        nzType="search"
                        style="cursor: pointer; color: #d9d9d9"
                        (click)="filterSearchReceiver($event)"
                      ></span>
                    </ng-template>
                    <ng-template #receiverName>
                      <span
                        nz-icon
                        class="ant-input-clear-icon"
                        nzTheme="fill"
                        nzType="close-circle"
                        *ngIf="dataFilterReceiverCode.receiverName"
                        (click)="clearReceiver('receiverName')"
                      ></span>
                    </ng-template>
                  </td>
                </tr>
                <tr
                  style="cursor: pointer"
                  class="click-row"
                  *ngFor="let row of tableReceiver.data"
                  (click)="chooseReceiver(row)"
                >
                  <td>{{ row.receiverCode }}</td>
                  <td>{{ row.receiverName }}</td>
                </tr>
              </tbody>
            </nz-table>
            <nz-row
              *ngIf="totalReceiver"
              nzGutter="24"
              nzAlign="middle"
              nzJustify="center"
            >
              <div nz-col nzSpan="24">
                <app-pagination
                  [currentPage]="pageReceiver"
                  [currentSize]="perPageReceiver"
                  [total]="totalReceiver"
                  (emitPage)="paginationWoCode($event)"
                ></app-pagination>
              </div>
            </nz-row>
          </ng-template>
        </nz-col>
      </nz-row>
    </nz-col>
    <!-- xuất kho thành khasc -->
    <nz-col
      nzXs="24"
      nzSm="24"
      nzMd="12"
      nzLg="12"
      nzXl="8"
      nzXXl="8"
      class="mt-12"
    >
      <nz-row>
        <nz-col nzSpan="24"
          >{{
            "sidebar.export.child.exportRequest.child.createdBy" | translate
          }}
        </nz-col>
        <nz-col nzSpan="24">
          <input
            [disabled]="true"
            type="text"
            nz-input
            [(ngModel)]="dataInformation.createdBy"
          />
        </nz-col>
      </nz-row>
    </nz-col>
    <nz-col
      nzXs="24"
      nzSm="24"
      nzMd="12"
      nzLg="12"
      nzXl="8"
      nzXXl="8"
      class="mt-12"
    >
      <nz-row>
        <nz-col nzSpan="24"
          >{{
            "sidebar.export.child.exportRequest.child.createdAt" | translate
          }}
        </nz-col>
        <nz-col nzSpan="24">
          <nz-date-picker
            [disabled]="true"
            nzPlaceHolder="dd/MM/yyyy"
            class="w-100"
            nzFormat="dd/MM/yyyy"
            [(ngModel)]="dataInformation.createdAt"
          ></nz-date-picker>
        </nz-col>
      </nz-row>
    </nz-col>
    <nz-col
      nzXs="24"
      nzSm="24"
      nzMd="12"
      nzLg="12"
      nzXl="8"
      nzXXl="8"
      class="mt-12"
    >
      <nz-row>
        <nz-col nzSpan="24"
          >{{
            "sidebar.export.child.exportRequest.child.updatedAt" | translate
          }}
        </nz-col>
        <nz-col nzSpan="24">
          <nz-date-picker
            [disabled]="true"
            nzPlaceHolder="dd/MM/yyyy"
            class="w-100"
            nzFormat="dd/MM/yyyy"
            [(ngModel)]="dataInformation.updatedAt"
          ></nz-date-picker>
        </nz-col>
      </nz-row>
    </nz-col>
 
    <nz-col
      nzXs="24"
      nzSm="24"
      nzMd="12"
      nzLg="12"
      nzXl="8"
      nzXXl="8"
      class="mt-12"
    >
      <nz-row>
        <nz-col nzSpan="24">{{
          "sidebar.information.child.listContract.child.note" | translate
        }}</nz-col>
        <nz-col nzSpan="24">
          <nz-input-group
            [nzSuffix]="inputClearNote"
            class="ant-input-affix-wrapper-textarea-with-clear-btn"
          >
            <textarea
              [disabled]="
                (dataInformation.status == 2 || dataInformation.status == 0) &&
                (checkGroupsInTokenQCER == true ||
                  checkGroupsInTokenSaler == true ||
                  checkGroupsInTokenAdmin ||
                  checkIsRole('FCIM_ADMIN'))
                  ? false
                  : true
              "
              rows="1"
              nz-input
              [(ngModel)]="dataInformation.note"
              placeholder="Nhập nội dung ghi chú"
            ></textarea>
          </nz-input-group>
          <ng-template #inputClearNote>
            <span
              nz-icon
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              *ngIf="dataInformation.note"
              (click)="dataInformation.note = null"
            ></span>
          </ng-template>
        </nz-col>
      </nz-row>
    </nz-col>

    <nz-col
      nzXs="24"
      nzSm="24"
      nzMd="12"
      nzLg="12"
      nzXl="8"
      nzXXl="8"
      class="mt-12"
    >
      <nz-row>
        <nz-col nzSpan="24">{{ "Mô tả" }} </nz-col>
        <nz-col nzSpan="24">
          <input
            [disabled]="true"
            type="text"
            nz-input
            [(ngModel)]="dataInformation.exportTypeId"
          />
        </nz-col>
      </nz-row>
    </nz-col>
    
  </nz-row>
</div>

<!--Danh sách hàng hoá-->
<div class="common-bg mt-24">
  <nz-row class="mb-12">
    <h2 class="m-0">
      {{ "sidebar.export.child.exportRequest.child.listProduct" | translate }}
    </h2>
  </nz-row>
  <nz-row>
    <nz-table
      nzBordered
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
      [nzScroll]="{ y: '500px' }"
      [nzData]="dataItems"
      #dataItem
      nzSize="small"
      class="w-100"
    >
      <thead>
        <tr>
          <ng-container *ngFor="let column of columns; let i = index">
            <ng-container
              *ngIf="column.check && column.keyName !== 'unexportedQuantity'"
            >
              <th
                nz-resizable
                [nzWidth]="column.width"
                (nzResize)="onResize($event, i)"
                [nzMaxWidth]="500"
                [nzMinWidth]="100"
              >
                <div class="editable-cell">
                  {{ column.keyTitle | translate }}
                </div>
                <nz-resize-handle nzDirection="right">
                  <div class="resize-trigger"></div>
                </nz-resize-handle>
              </th>
            </ng-container>
            <ng-container
              *ngIf="column.check && column.keyName == 'unexportedQuantity'"
            >
              <th
                nz-resizable
                [nzWidth]="column.width"
                (nzResize)="onResize($event, i)"
                [nzMaxWidth]="500"
                [nzMinWidth]="100"
              >
                <div class="editable-cell">
                  {{ column.keyTitle | translate }}
                </div>
                <nz-resize-handle nzDirection="right">
                  <div class="resize-trigger"></div>
                </nz-resize-handle>
              </th>
            </ng-container>
          </ng-container>
          <th
            nzWidth="100px"
            nzAlign="center"
            nzRight
            *ngIf="
              (checkGroupsInTokenQCER ||
                checkGroupsInTokenSaler ||
                checkGroupsInTokenAdmin ||
                checkIsRole('FCIM_ADMIN')) &&
              dataInformation.status == 0
            "
          >
            {{ "table.action" | translate }}
          </th>
        </tr>
      </thead>
      <tbody [class]="dataItems.length > 0 ? 'striped-tr' : ''">
        <tr>
          <ng-container *ngFor="let column of columns; let i = index">
            <ng-container *ngIf="column.check">
              <td
                *ngIf="
                  column.keyName !== 'unexportedQuantity' &&
                  column.keyName !== 'requestQuantity' &&
                  column.keyName !== 'issuedQuantity'
                "
              >
                <nz-input-group
                  [nzPrefix]="preSearch"
                  [nzSuffix]="suffixSearch"
                >
                  <input
                    type="text"
                    nz-input
                    [(ngModel)]="dataFilterProduct[column.keyName]"
                  />
                </nz-input-group>
                <ng-template #preSearch>
                  <span nz-icon nzType="search" style="color: #d9d9d9"></span>
                </ng-template>
                <ng-template #suffixSearch
                  ><span
                    *ngIf="dataFilterProduct[column.keyName]"
                    (click)="clear(column.keyName)"
                    nz-icon
                    nzType="close-circle"
                    nzTheme="fill"
                    style="
                      font-size: 12px;
                      cursor: pointer;
                      color: rgb(172, 170, 170);
                    "
                  ></span
                ></ng-template>
              </td>

              <td *ngIf="column.keyName == 'requestQuantity'" nzAlign="right">
                <b>
                  <!--                  {{ countTotalQuantityRequest | number }}-->
                </b>
              </td>

              <td *ngIf="column.keyName == 'issuedQuantity'" nzAlign="right">
                <!--                <b>{{ countTotalQuantityUnexported | number }}</b>-->
              </td>

              <td
                *ngIf="column.keyName == 'unexportedQuantity'"
                nzAlign="right"
              >
                <!--                <b>{{ countTotalQuantityUnexported | number }}</b>-->
              </td>
            </ng-container>
          </ng-container>
          <td
            nzRight
            *ngIf="
              (checkGroupsInTokenQCER ||
                checkGroupsInTokenSaler ||
                checkGroupsInTokenAdmin ||
                checkIsRole('FCIM_ADMIN')) &&
              dataInformation.status == 0
            "
          ></td>
        </tr>
        <tr
          *ngFor="
            let row of dataItems
              | filterItemInExportRequest
                : dataFilterProduct.productCode
                : dataFilterProduct.itemName
                : dataFilterProduct.description
                : dataFilterProduct.uom
                : dataFilterProduct.note
          "
        >
          <ng-container *ngFor="let column of columns">
            <ng-container *ngIf="column.check">
              <td *ngIf="column.keyName == 'itemCode'">
                {{ row["itemCode"] }}
              </td>
              <td *ngIf="column.keyName == 'itemName'">
                {{ row["itemName"] }}
              </td>
              <td *ngIf="column.keyName == 'uom'">
                {{ row["uom"] }}
              </td>
              <td *ngIf="column.keyName == 'warehouseCode'">
                {{ row["warehouseCode"] }}
              </td>

              <td *ngIf="column.keyName == 'requestQuantity'" nzAlign="right">
                <ng-container
                  *ngIf="
                    (checkGroupsInTokenQCER == true ||
                      checkGroupsInTokenSaler == true ||
                      checkGroupsInTokenAdmin ||
                      checkIsRole('FCIM_ADMIN')) &&
                      (dataInformation.status == 0 ||
                        dataInformation.status == 2) &&
                      dataInformation.exportType !== 2;
                    else requestQuantityText
                  "
                >
                  <input
                    type="number"
                    nz-input
                    [(ngModel)]="row['requestQuantity']"
                    placeholder="Nhập số lượng yêu cầu"
                    min="0"
                    (ngModelChange)="onHandleQuantityRequest(row)"
                  />
                  <div
                    *ngIf="
                      row['requestQuantity'] <= 0 &&
                      (dataInformation.status == 2 ||
                        dataInformation.status == 0)
                    "
                  >
                    <span class="error-span">
                      Bạn phải nhập số lượng yêu cầu lớn hơn 0
                    </span>
                  </div>
                  <div
                    *ngIf="
                      row['requestQuantity'] > row['remainQuantity'] &&
                      dataInformation.exportType == 1
                    "
                  ></div>
                </ng-container>
                <ng-template #requestQuantityText>
                  {{ row["requestQuantity"] | number : "1.2-6" }}
                </ng-template>
              </td>

              <td *ngIf="column.keyName == 'issuedQuantity'" nzAlign="right">
                {{ row["issuedQuantity"] | number : "1.2-6" }}
              </td>

              <td
                *ngIf="column.keyName == 'unexportedQuantity'"
                nzAlign="right"
              >
                {{ row["unexportedQuantity"] | number : "1.2-6" }}
              </td>
            </ng-container>
          </ng-container>
          <td
            nzRight
            nzAlign="center"
            *ngIf="
              (checkGroupsInTokenQCER == true ||
                checkGroupsInTokenSaler == true ||
                checkGroupsInTokenAdmin ||
                checkIsRole('FCIM_ADMIN')) &&
              dataInformation.status == 0
            "
          >
            <app-button
              [buttonType]="'text'"
              [iconType]="'delete'"
              [iconTheme]="'fill'"
              [tooltipTitle]="'Click here to delete record'"
              (btnClick)="deleteRecord(row)"
            ></app-button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-row>
  <nz-row class="mt-24" nzJustify="space-between">
    <nz-col nzSpan="4">
      <!-- Button: Thêm hàng hóa xuất kho sản xuất -->
      <button
        *ngIf="
          dataInformation.status == 0 &&
          (checkGroupsInTokenQCER ||
            checkGroupsInTokenSaler ||
            checkGroupsInTokenAdmin ||
            checkIsRole('FCIM_ADMIN')) &&
          dataInformation.woCode &&
          dataInformation.exportType == 1
        "
        nz-button
        (click)="onHandleVisiblePopup()"
        nzType="primary"
        nz-popover
        nzPopoverTrigger="click"
        [nzPopoverContent]="contentTemplate"
        nzPopoverPlacement="bottomLeft"
        [nzPopoverVisible]="visiblePopup"
        (nzPopoverVisibleChange)="changeVisible($event)"
      >
        <span nz-icon nzType="plus" nzTheme="outline"></span>Thêm hàng hóa
      </button>
      <ng-template #contentTemplate>
        <nz-table
          #rowSelectionTable
          [nzData]="listItem"
          style="width: 1400px"
          [nzScroll]="{ y: '400px' }"
          nzBordered
          [nzFrontPagination]="false"
          [nzShowPagination]="false"
          [nzPaginationType]="'small'"
          nzSize="small"
          (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
        >
          <thead>
            <tr>
              <th
                nzWidth="50px"
                [(nzChecked)]="checked"
                [nzIndeterminate]="indeterminate"
                (nzCheckedChange)="onAllChecked($event)"
              ></th>
              <th>
                {{ "menu.manage.po.item.itemCode" | translate }}
              </th>
              <th>
                {{ "menu.manage.po.item.itemName" | translate }}
              </th>
              <th nzWidth="180px">
                {{ "menu.manage.po.item.uom" | translate }}
              </th>
            </tr>
          </thead>
          <tbody [class]="listItem.length == 0 ? '' : 'striped-tr'">
            <tr>
              <td></td>
              <td>
                <nz-input-group
                  [nzSuffix]="productCodeSuffix"
                  [nzPrefix]="productCodePrefix"
                  (keyup)="filterSearchItem($event)"
                >
                  <input nz-input [(ngModel)]="filterChildItems.productCode" />
                </nz-input-group>
                <ng-template #productCodePrefix>
                  <span
                    nz-icon
                    nzType="search"
                    style="color: #d9d9d9"
                    (click)="filterSearchItem($event)"
                  ></span>
                </ng-template>
                <ng-template #productCodeSuffix>
                  <span
                    nz-icon
                    class="ant-input-clear-icon"
                    nzTheme="fill"
                    nzType="close-circle"
                    *ngIf="filterChildItems.productCode"
                    (click)="clearFilterProduct('productCode')"
                  ></span>
                </ng-template>
              </td>
              <td>
                <nz-input-group
                  [nzSuffix]="proNameSuffix"
                  [nzPrefix]="proNamePrefix"
                  (keyup)="filterSearchItem($event)"
                >
                  <input nz-input [(ngModel)]="filterChildItems.proName" />
                </nz-input-group>
                <ng-template #proNamePrefix>
                  <span
                    nz-icon
                    nzType="search"
                    style="color: #d9d9d9"
                    (click)="filterSearchItem($event)"
                  ></span>
                </ng-template>
                <ng-template #proNameSuffix>
                  <span
                    nz-icon
                    class="ant-input-clear-icon"
                    nzTheme="fill"
                    nzType="close-circle"
                    *ngIf="filterChildItems.proName"
                    (click)="clearFilterProduct('proName')"
                  ></span>
                </ng-template>
              </td>
              <td>
                <nz-input-group
                  [nzSuffix]="unitSuffix"
                  [nzPrefix]="unitPrefix"
                  (keyup)="filterSearchItem($event)"
                >
                  <input nz-input [(ngModel)]="filterChildItems.unit" />
                </nz-input-group>
                <ng-template #unitPrefix>
                  <span
                    nz-icon
                    nzType="search"
                    style="color: #d9d9d9"
                    (click)="filterSearchItem($event)"
                  ></span>
                </ng-template>
                <ng-template #unitSuffix>
                  <span
                    nz-icon
                    class="ant-input-clear-icon"
                    nzTheme="fill"
                    nzType="close-circle"
                    *ngIf="filterChildItems.unit"
                    (click)="clearFilterProduct('unit')"
                  ></span>
                </ng-template>
              </td>
            </tr>
            <tr
              *ngFor="let data of rowSelectionTable.data"
              (click)="clickRow(data)"
              style="cursor: pointer"
              class="click-row"
            >
              <td
                [nzChecked]="setOfCheckedId.has(data.id)"
                (nzCheckedChange)="onItemChecked(data, $event)"
              ></td>
              <td>{{ data.productCode }}</td>
              <td>{{ data.itemName }}</td>
              <td>{{ data.uom }}</td>
            </tr>
          </tbody>
        </nz-table>
        <nz-row
          *ngIf="totalItem"
          nzGutter="24"
          nzAlign="middle"
          nzJustify="center"
          class="mt-12"
        >
          <div nz-col nzSpan="24">
            <app-pagination
              [currentPage]="pageItem"
              [currentSize]="perPageItem"
              [total]="totalItem"
              (emitPage)="paginationItem($event)"
            ></app-pagination>
          </div>
        </nz-row>
      </ng-template>
      <!-- Button: Thêm hàng hóa xuất kho thành phẩm -->
      <button
        nz-button
        (click)="onHandleShowItemsProduct()"
        nzType="primary"
        nz-popover
        [nzPopoverTitle]="
          'Danh sách hàng hóa theo xuất kho thành phẩm' | translate
        "
        nzPopoverTrigger="click"
        [nzPopoverContent]="contentOfListItemsProduct"
        nzPopoverPlacement="bottomLeft"
        [nzPopoverVisible]="isShowListItemsProduct"
        (nzPopoverVisibleChange)="onHandleChangeShowItemsProduct($event)"
        *ngIf="
          (checkGroupsInTokenQCER ||
            checkGroupsInTokenSaler ||
            checkGroupsInTokenAdmin ||
            checkIsRole('FCIM_ADMIN')) &&
          (dataInformation.exportType == 2 ||
            dataInformation.exportType == 3) &&
          dataInformation.status == 0
        "
      >
        <span nz-icon nzType="plus" nzTheme="outline"></span>Thêm hàng hóa
      </button>
      <ng-template #contentOfListItemsProduct>
        <nz-table
          #ItemsProductTable
          [nzData]="listItemsProduct"
          style="width: 1200px"
          [nzScroll]="{ y: '400px' }"
          nzBordered
          [nzFrontPagination]="false"
          [nzShowPagination]="false"
          [nzPaginationType]="'small'"
          nzSize="small"
          (nzCurrentPageDataChange)="
            onCurrentPageDataChangeItemsProduct($event)
          "
        >
          <thead>
            <tr>
              <th
                nzWidth="50px"
                [(nzChecked)]="checkedItemsProduct"
                [nzIndeterminate]="indeterminateItemsProduct"
                (nzCheckedChange)="onAllCheckedItemsProduct($event)"
              ></th>
              <th *ngIf="dataInformation.exportType == 2">Mã WO</th>
              <th *ngIf="dataInformation.exportType == 2">Mã đơn hàng</th>
              <th>Mã hàng hóa</th>
              <th>Tên hàng hóa</th>
              <th *ngIf="dataInformation.exportType == 2" nzWidth="240px">
                Ngày bắt đầu
              </th>
              <th *ngIf="dataInformation.exportType == 2" nzWidth="240px">
                Ngày kết thúc
              </th>
              <th *ngIf="dataInformation.exportType == 2" nzWidth="240px">
                Ngày giao hàng
              </th>
              <th *ngIf="dataInformation.exportType == 3">Mô tả hàng hóa</th>
              <th *ngIf="dataInformation.exportType == 3">Đơn vị tính</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
            </tr>
            <tr
              *ngFor="let data of ItemsProductTable.data"
              (click)="clickRowItemsProduct(data)"
              style="cursor: pointer"
              class="click-row"
            >
              <td
                [nzChecked]="setOfCheckedIdItemsProduct.has(data.id)"
                (nzCheckedChange)="onItemCheckedItemsProduct(data, $event)"
              ></td>
              <td *ngIf="dataInformation.exportType == 2">{{ data.woCode }}</td>
              <td *ngIf="dataInformation.exportType == 2">{{ data.soCode }}</td>
              <td>{{ data.productCode }}</td>
              <td>{{ data.itemName }}</td>
              <td *ngIf="dataInformation.exportType == 2">
                {{ data.startAt | date : "dd/MM/YYYY" }}
              </td>
              <td *ngIf="dataInformation.exportType == 2">
                {{ data.endAt | date : "dd/MM/YYYY" }}
              </td>
              <td *ngIf="dataInformation.exportType == 2">
                {{ data.deliveryAt | date : "dd/MM/YYYY" }}
              </td>
              <td *ngIf="dataInformation.exportType == 3">{{ data.uom }}</td>
            </tr>
          </tbody>
        </nz-table>
      </ng-template>
    </nz-col>
    <nz-col nzSpan="20">
      <nz-row nzGutter="24" nzJustify="end">
        <nz-col>
          <app-button
            [className]="'w-100 common-btn-close '"
            [title]="'btn.close'"
            [buttonType]="'primary'"
            [tooltipTitle]="'Đóng'"
            (btnClick)="close()"
          ></app-button>
        </nz-col>
        <nz-col
          *ngIf="
            (dataInformation.status == 2 || dataInformation.status == 0) &&
            (checkGroupsInTokenQCER == true ||
              checkGroupsInTokenSaler == true ||
              checkGroupsInTokenAdmin ||
              checkIsRole('FCIM_ADMIN'))
          "
        >
          <app-button
            [className]="'w-100 common-btn-drag '"
            [title]="'btn.drag'"
            [buttonType]="'primary'"
            [tooltipTitle]="'tạo bản nháp'"
            (btnClick)="draft()"
          ></app-button>
        </nz-col>
        <nz-col
          *ngIf="
            (dataInformation.status == 2 || dataInformation.status == 0) &&
            (checkGroupsInTokenQCER == true ||
              checkGroupsInTokenSaler == true ||
              checkGroupsInTokenAdmin ||
              checkIsRole('FCIM_ADMIN'))
          "
        >
          <app-button
            [className]="'w-100 '"
            [title]="'btn.send'"
            [buttonType]="'primary'"
            [tooltipTitle]="'Lưu dữ liệu'"
            (btnClick)="save()"
          ></app-button>
        </nz-col>
        <nz-col
          *ngIf="
            dataInformation.status == 1 &&
            (checkGroupsInTokenKeeper ||
              checkGroupsInTokenAdmin ||
              checkIsRole('FCIM_ADMIN'))
          "
        >
          <app-button
            [className]="'common-btn-red w-100 '"
            [title]="'exportRequest.status.2'"
            [buttonType]="'primary'"
            [tooltipTitle]="'Từ chối xuất kho'"
            (btnClick)="refuse()"
          ></app-button>
        </nz-col>
        <nz-col
          *ngIf="
            (dataInformation.status == 1 || dataInformation.status == 3) &&
            (checkGroupsInTokenKeeper ||
              checkGroupsInTokenAdmin ||
              checkIsRole('FCIM_ADMIN'))
          "
        >
          <app-button
            [className]="'w-100 '"
            [title]="'exportRequest.status.1'"
            [buttonType]="'primary'"
            [tooltipTitle]="'Tạo phiếu xuất kho'"
            (btnClick)="createGDN()"
          ></app-button>
        </nz-col>
      </nz-row>
    </nz-col>
  </nz-row>
</div>
<!-- Modal xác nhận -->
<app-modal-confirm
  [content]="'Bạn có muốn gửi duyệt yêu cầu xuất kho này tới thủ kho không?'"
  [title]="'Xác nhận gửi duyệt'"
  [isVisible]="modalConfirmSave"
  (cancel)="onHandleModalCancelSave($event)"
  (isVisibleChange)="onHandleModalConfirmSave($event)"
></app-modal-confirm>
<app-modal-confirm
  [content]="'Bạn có muốn lưu nháp dữ liệu đang nhập?'"
  [title]="'Xác nhận lưu nháp'"
  [isVisible]="modalConfirmDraft"
  (cancel)="onHandleModalCancelDraft($event)"
  (isVisibleChange)="onHandleModalConfirmDraft($event)"
></app-modal-confirm>
<nz-modal
  nzWidth="800px"
  [(nzVisible)]="visibleRevoke"
  [nzFooter]="null"
  (nzOnCancel)="onClickCancelRevoke()"
  [nzContent]="showAddNewContentRevoke"
  [nzTitle]="showAddNewTitleRevoke"
>
  <ng-template #showAddNewTitleRevoke>
    <div class="d-flex">
      <img src="./assets/image/svg/gdn_modal.svg" alt="" />
      <h2 class="m-0 ml-24">{{ "Thu hồi duyệt" | translate }}</h2>
    </div>
  </ng-template>
  <ng-template #showAddNewContentRevoke>
    <app-revoke-export-request
      (childOut)="hide($event)"
      [child]="param"
    ></app-revoke-export-request>
  </ng-template>
</nz-modal>

<app-popup-cancel
  [isVisible]="isVisibleCancel"
  (cancel)="onHandleCancelPopup($event)"
  (isVisibleChange)="onHandleConfirmPopup($event)"
>
</app-popup-cancel>

<nz-modal
  nzWidth="800px"
  [(nzVisible)]="visibleRefuse"
  [nzFooter]="null"
  (nzOnCancel)="onClickCancelRefuse()"
  [nzContent]="showAddNewContentRefuse"
  [nzTitle]="showAddNewTitleRefuse"
>
  <ng-template #showAddNewTitleRefuse>
    <div class="d-flex">
      <img src="./assets/image/svg/gdn_modal.svg" alt="" />
      <h2 class="m-0 ml-24">{{ "Từ chối yêu cầu" | translate }}</h2>
    </div>
  </ng-template>
  <ng-template #showAddNewContentRefuse>
    <app-reason-refuse-export-request
      (childOut)="hideRefuse($event)"
      [child]="param"
    ></app-reason-refuse-export-request>
  </ng-template>
</nz-modal>

<app-popup-cancel
  [isVisible]="isVisibleRefuseCancel"
  (cancel)="onHandleCancelPopupRefuse($event)"
  (isVisibleChange)="onHandleConfirmPopupRefuse($event)"
>
</app-popup-cancel>
