<nz-row nzAlign="middle" class="mb-12">
  <app-breadcrumb
    nz-col
    [nzSpan]="23"
    *ngIf="isBreadcrumb"
    [listBreadCrumb]="breadcrumbs"
    [isHidden]="isHidden"
  ></app-breadcrumb>
</nz-row>
<div class="common-bg">
  <nz-row nzJustify="center" class="mb-12">
    <h2 class="m-0">
      {{ "sidebar.information.child.listSO.child.list" | translate }}
    </h2>
  </nz-row>
  <nz-row class="mb-12">
    <nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzXXl="24">
      <h4 class="m-0">{{ "search.general" | translate }}</h4>
    </nz-col>
    <nz-col nzXs="24" nzSm="24" nzMd="14" nzLg="12" nzXl="10" nzXXl="6">
      <form (ngSubmit)="searchGeneralFunc()">
        <nz-input-group
          [nzPrefix]="prefixButtonSearch"
          [nzSuffix]="suffixButtonClear"
        >
          <input
            type="text"
            nz-input
            placeholder="{{ 'search.general.placeholder' | translate }}"
            [(ngModel)]="searchGeneral"
            name="searchGeneral"
          />
        </nz-input-group>
        <ng-template #prefixButtonSearch>
          <span
            class="search-click"
            style="color: #d9d9d9"
            nz-icon
            nzType="search"
            (click)="searchGeneralFunc()"
          ></span>
        </ng-template>
        <ng-template #suffixButtonClear>
          <span
            nz-icon
            class="ant-input-clear-icon"
            nzTheme="fill"
            nzType="close-circle"
            *ngIf="searchGeneral"
            (click)="searchGeneral = ''"
          ></span>
        </ng-template>
      </form>
    </nz-col>
  </nz-row>
  <nz-row nzAlign="middle" nzJustify="end" nzGutter="12" class="mb-12">
    <nz-col>
      <button
        nz-button
        nzType="text"
        class="p-0"
        nz-tooltip
        nz-dropdown
        [nzDropdownMenu]="configColumns"
      >
        <svg
          width="32"
          height="32"
          viewBox="0 0 38 38"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8.33325 25.668H18.9999V29.668H29.6666V15.0013H24.3333V9.66797H8.33325V25.668ZM21.6666 25.668H26.9999V27.0013H21.6666V25.668ZM21.6666 21.668H26.9999V23.0013H21.6666V21.668ZM21.6666 17.668H26.9999V19.0013H21.6666V17.668ZM10.9999 12.3346H21.6666V15.0013H18.9999V23.0013H10.9999V12.3346Z"
            fill="#FF7A00"
          />
          <rect
            x="0.5"
            y="0.5"
            width="37"
            height="37"
            rx="4.5"
            stroke="#FF7A00"
            stroke-opacity="0.6"
          />
        </svg>
        <nz-dropdown-menu #configColumns="nzDropdownMenu">
          <div
            style="
              background-color: white;
              padding: 8px 12px;
              border: 1px solid #ccc;
            "
          >
            <ng-container>
              <label
                nz-checkbox
                [(ngModel)]="allChecked"
                (ngModelChange)="updateAllChecked()"
                [nzIndeterminate]="indeterminate"
              >
                Tất cả
              </label>
              <br />
            </ng-container>
            <ng-container *ngFor="let column of columns; let i = index">
              <label
                [(ngModel)]="column.check"
                nz-checkbox
                (ngModelChange)="onClickCheckBox(column)"
                >{{ column.keyTitle | translate }}</label
              >
              <br />
            </ng-container>
          </div>
        </nz-dropdown-menu>
      </button>
    </nz-col>
  </nz-row>
  <nz-row>
    <nz-col nzSpan="24">
      <nz-table
        class="w-100"
        nzBordered
        [nzFrontPagination]="false"
        [nzShowPagination]="false"
        [nzScroll]="{ x: 'auto' }"
        [nzData]="listData"
        #soTable
        nzSize="small"
      >
        <thead>
          <tr>
            <ng-container *ngFor="let column of columns; let i = index">
              <ng-container *ngIf="column.check">
                <!-- <th nz-resizable nzBounds="window" nzPreview [nzWidth]="column.width" [nzMaxWidth]="300"
                  [nzMinWidth]="100" (nzResizeEnd)="onResize($event, column)" nzAlign="center" style="cursor: pointer"
                  (click)="customSortFunction(column.keyName)"> -->
                <th
                  nz-resizable
                  [nzWidth]="column.width"
                  (nzResize)="onResize($event, i)"
                  [nzMaxWidth]="500"
                  [nzMinWidth]="100"
                  style="cursor: pointer"
                  (click)="customSortFunction(column.keyName)"
                >
                  <div class="editable-cell">
                    {{ column.keyTitle | translate }}
                    <nz-resize-handle nzDirection="right">
                      <div class="resize-trigger"></div>
                    </nz-resize-handle>
                  </div>
                  <span
                    *ngIf="countSort == 0"
                    style="
                      float: right;
                      position: absolute;
                      bottom: 12px;
                      right: 10px;
                    "
                    nz-tooltip="Sắp xếp giảm dần"
                    nz-icon
                    nzType="swap"
                    [nzRotate]="90"
                    nzTheme="outline"
                  ></span>
                  <span
                    *ngIf="countSort > 0 && sortOrder == 'descend'"
                    style="
                      float: right;
                      position: absolute;
                      bottom: 12px;
                      right: 10px;
                    "
                    nz-tooltip="Sắp xếp tăng dần"
                    nz-icon
                    nzType="arrow-down"
                    nzTheme="outline"
                  ></span>
                  <span
                    *ngIf="countSort > 0 && sortOrder == 'ascend'"
                    style="
                      float: right;
                      position: absolute;
                      bottom: 12px;
                      right: 10px;
                    "
                    nz-tooltip="Sắp xếp giảm dần"
                    nz-icon
                    nzType="arrow-up"
                    nzTheme="outline"
                  ></span>
                </th>
              </ng-container>
            </ng-container>
            <th nzWidth="100px" nzAlign="center" nzRight>
              {{ "table.action" | translate }}
            </th>
          </tr>
        </thead>
        <tbody [class]="listData.length <= 0 ? '' : 'striped-tr'">
          <tr>
            <ng-container *ngFor="let column of columns">
              <ng-container
                *ngIf="
                  column.check &&
                  column.keyName != 'orderDate' &&
                  column.keyName != 'deliveryAt' &&
                  column.keyName != 'status'
                "
              >
                <td>
                  <nz-input-group
                    nzSearch
                    [nzPrefix]="prefixKeyName"
                    [nzSuffix]="suffixKeyName"
                  >
                    <input
                      type="text"
                      nz-input
                      [(ngModel)]="dataFilter[column.keyName]"
                      (keyup)="enterSearch($event)"
                    />
                  </nz-input-group>
                  <ng-template #prefixKeyName>
                    <span
                      (click)="search()"
                      class="search-click"
                      nz-icon
                      nzType="search"
                      style="color: #d9d9d9"
                    ></span>
                  </ng-template>
                  <ng-template #suffixKeyName>
                    <span
                      nz-icon
                      class="ant-input-clear-icon"
                      nzTheme="fill"
                      nzType="close-circle"
                      *ngIf="dataFilter[column.keyName]"
                      (click)="clear(column.keyName)"
                    ></span>
                  </ng-template>
                </td>
              </ng-container>
              <ng-container
                *ngIf="column.check && column.keyName == 'orderDate'"
              >
                <td>
                  <nz-range-picker
                    [(ngModel)]="dataFilter[column.keyName]"
                    (ngModelChange)="getListSO()"
                    [nzBorderless]="true"
                    [nzPlaceHolder]="[
                      'start_date' | translate,
                      'end_date' | translate
                    ]"
                  ></nz-range-picker>
                </td>
              </ng-container>
              <ng-container
                *ngIf="column.check && column.keyName == 'deliveryAt'"
              >
                <td>
                  <nz-range-picker
                    [(ngModel)]="dataFilter[column.keyName]"
                    (ngModelChange)="getListSO()"
                    [nzBorderless]="true"
                    [nzPlaceHolder]="[
                      'start_date' | translate,
                      'end_date' | translate
                    ]"
                  ></nz-range-picker>
                </td>
              </ng-container>
              <ng-container *ngIf="column.check && column.keyName == 'status'">
                <td>
                  <nz-select
                    class="select-search"
                    style="width: 100%"
                    [nzAllowClear]="true"
                    [nzBorderless]="true"
                    nzPlaceHolder="{{ 'all_select' | translate }}"
                    [(ngModel)]="dataFilter[column.keyName]"
                    (ngModelChange)="search()"
                  >
                    <nz-option
                      *ngFor="let item of listStatus"
                      [nzValue]="item.value"
                      [nzLabel]="item.text"
                    ></nz-option>
                  </nz-select>
                </td>
              </ng-container>
            </ng-container>
            <td nzRight></td>
          </tr>
          <ng-container *ngFor="let row of soTable.data; let i = index">
            <tr>
              <ng-container *ngFor="let column of columns; let j = index">
                <ng-container *ngIf="column.check">
                  <td
                    *ngIf="
                      column.keyName !== 'status' &&
                      column.keyName !== 'orderDate' &&
                      column.keyName !== 'deliveryAt'
                    "
                  >
                    {{ row[column.keyName] }}
                  </td>

                  <td *ngIf="column.keyName == 'orderDate'" nzAlign="right">
                    {{ row["orderDate"] | date : "dd/MM/yyyy" }}
                  </td>
                  <td *ngIf="column.keyName == 'deliveryAt'" nzAlign="right">
                    {{ row["deliveryAt"] | date : "dd/MM/yyyy" }}
                  </td>
                  <td nzAlign="center" *ngIf="column.keyName === 'status'">
                    <div [ngSwitch]="row[column.keyName]">
                      <div
                        class="border-element bordered-element__status_1"
                        *ngSwitchCase="0"
                      >
                        {{ "Đóng" | translate }}
                      </div>
                      <div
                        class="border-element bordered-element__status_4"
                        *ngSwitchCase="1"
                      >
                        {{ "Mở" | translate }}
                      </div>
                    </div>
                  </td>
                </ng-container>
              </ng-container>
              <td nzRight>
                <div class="d-flex j-content-center a-items-center">
                  <nz-col class="w-32px">
                    <app-button
                      *ngIf="
                        row.status == 1 &&
                        (checkIsRole('wms_export-request_create') || checkIsRole('FCIM_ADMIN'))
                      "
                      [iconTheme]="'fill'"
                      [iconType]="'plus-circle'"
                      (btnClick)="onHandleCreateExportRequest(row)"
                      [nz-tooltip]="
                        'sidebar.information.child.listSO.child.createExportRequest'
                          | translate
                      "
                      [buttonType]="'text'"
                    >
                    </app-button>
                  </nz-col>
                  <nz-col class="w-32px">
                    <app-button
                      [iconTheme]="'fill'"
                      [iconType]="'info-circle'"
                      (btnClick)="onHandleView(row)"
                      [nz-tooltip]="
                        'sidebar.information.child.listSO.child.readSO'
                          | translate
                      "
                      [buttonType]="'text'"
                    >
                    </app-button>
                  </nz-col>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </nz-col>
  </nz-row>
  <nz-row *ngIf="total" nzGutter="24" nzAlign="middle" nzJustify="center">
    <div nz-col nzSpan="24">
      <app-pagination
        [currentPage]="page"
        [currentSize]="per_page"
        [total]="total"
        (emitPage)="pagination($event)"
      ></app-pagination>
    </div>
  </nz-row>
</div>
