<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="null"
  (nzOnCancel)="handleCancel()"
  [nzWidth]="600"
>
  <ng-template #modalTitle>
    <h3 style="text-align: center; color: #FF7A00" class="m-0">
      {{ title }}
    </h3>
  </ng-template>

  <ng-template #modalContent>
    <p style="text-align: center;">
      <span>{{ content }}</span
      >?
    </p>
    <div nz-row nzJustify="center" nzGutter="24" class="mt-24">
      <nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6" nzXXl="6">
        <button
          nz-button
          (click)="handleCancel()"
          style="
            background-color: #e5e5e5;
            color: #000;
            border: 1px solid #e5e5e5;
            width: 100%;
          "
          nzType="primary"
        >
          {{ "btn.cancel" | translate }}
        </button>
      </nz-col>
      <nz-col nzXs="6" nzSm="6" nzMd="6" nzLg="6" nzXl="6" nzXXl="6">
        <button
          nz-button
          (click)="submit()"
          style="width: 100%"
          nzType="primary"
        >
          {{ "btn.confirm" | translate }}
        </button>
      </nz-col>
    </div>
  </ng-template>

  <!-- <ng-template #modalFooter>
    <app-button
      (click)="handleCancel()"
      class="m-24 common-btn-close"
      title="btn.cancel"
    ></app-button>
    <app-button (click)="submit()" title="btn.confirm" #saveBtn></app-button>
  </ng-template> -->
</nz-modal>
