<nz-row nzAlign="middle" class="mb-12">
  <app-breadcrumb nz-col [nzSpan]="23" *ngIf="isBreadcrumb" [listBreadCrumb]="breadcrumbs"
    [isHidden]="isHidden"></app-breadcrumb>
</nz-row>
<div class="common-bg">
  <nz-row nzJustify="center" class="mb-12">
    <h2 class="m-0">
      {{ "sidebar.information.child.listContract.name" | translate }}
    </h2>
  </nz-row>
  <nz-row class="mb-12">
    <nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzXXl="24">
      <h4 class="m-0">{{ "search.general" | translate }}</h4>
    </nz-col>
    <nz-col nzXs="24" nzSm="24" nzMd="14" nzLg="12" nzXl="10" nzXXl="6">
      <form (ngSubmit)="searchGeneralFunc()">
        <nz-input-group [nzPrefix]="prefixButtonSearch" [nzSuffix]="suffixButtonClear">
          <input type="text" nz-input placeholder="{{ 'search.general.placeholder' | translate }}"
            [(ngModel)]="searchGeneral" name="searchGeneral" />
        </nz-input-group>
        <ng-template #prefixButtonSearch>
          <span class="search-click" nz-icon nzType="search" style="color: #d9d9d9"
            (click)="searchGeneralFunc()"></span>
        </ng-template>
        <ng-template #suffixButtonClear>
          <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="searchGeneral"
            (click)="searchGeneral = ''; searchGeneralFunc()"></span>
        </ng-template>
      </form>
    </nz-col>
  </nz-row>
  <nz-row nzAlign="middle" nzJustify="end" nzGutter="12" class="mb-12">
    <nz-col *ngIf="
        (checkIsRole('wms_consignment-contract_create') || checkIsRole('FCIM_ADMIN')) &&
        !checkGroupsInTokenQcer
      ">
      <nz-row nzJustify="end">
        <app-button [title]="'add.new'" [buttonType]="'text'" [iconType]="'plus-circle'" [iconTheme]="'outline'"
          [tooltipTitle]="
            'sidebar.information.child.listContract.child.create' | translate
          " (btnClick)="onClickAddNew()"></app-button>
      </nz-row>
    </nz-col>
    <nz-col>
      <button nz-button nzType="text" class="p-0" nz-tooltip nz-dropdown [nzDropdownMenu]="configColumns">
        <svg width="32" height="32" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8.33325 25.668H18.9999V29.668H29.6666V15.0013H24.3333V9.66797H8.33325V25.668ZM21.6666 25.668H26.9999V27.0013H21.6666V25.668ZM21.6666 21.668H26.9999V23.0013H21.6666V21.668ZM21.6666 17.668H26.9999V19.0013H21.6666V17.668ZM10.9999 12.3346H21.6666V15.0013H18.9999V23.0013H10.9999V12.3346Z"
            fill="#FF7A00" />
          <rect x="0.5" y="0.5" width="37" height="37" rx="4.5" stroke="#FF7A00" stroke-opacity="0.6" />
        </svg>
        <nz-dropdown-menu #configColumns="nzDropdownMenu">
          <div style="
              background-color: white;
              padding: 8px 12px;
              border: 1px solid #ccc;
            ">
            <ng-container>
              <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()"
                [nzIndeterminate]="indeterminate">
                Tất cả
              </label>
              <br />
            </ng-container>
            <ng-container *ngFor="let column of columns; let i = index">
              <label [(ngModel)]="column.check" nz-checkbox (ngModelChange)="onClickCheckBox(column)">{{ column.keyTitle
                | translate }}</label>
              <br />
            </ng-container>
          </div>
        </nz-dropdown-menu>
      </button>
    </nz-col>
  </nz-row>
  <nz-row>
    <nz-col nzSpan="24">
      <nz-table class="w-100" nzBordered [nzFrontPagination]="false" [nzShowPagination]="false"
        [nzScroll]="{ x: 'auto' }" [nzData]="datas" #warehouseTable nzSize="small" [nzPageSize]="page"
        [nzPageIndex]="per_page">
        <thead>
          <tr>
            <ng-container *ngFor="let column of columns; let i = index">
              <ng-container *ngIf="column.check">
                <!-- <th nz-resizable nzBounds="window" nzPreview [nzWidth]="column.width" [nzMaxWidth]="300"
                  [nzMinWidth]="100" (nzResizeEnd)="onResize($event, column)" nzAlign="center" style="cursor: pointer"
                  (click)="customSortFunction(column.keyName)"> -->
                <th nz-resizable [nzWidth]="column.width" (nzResize)="onResize($event, i)" [nzMaxWidth]="500"
                  [nzMinWidth]="100" (click)="customSortFunction(column.keyName)" style="cursor: pointer">
                  <div class="editable-cell">
                    {{ column.keyTitle | translate }}
                    <nz-resize-handle nzDirection="right">
                      <div class="resize-trigger"></div>
                    </nz-resize-handle>
                  </div>
                  <span *ngIf="countSort == 0" style="
                      float: right;
                      position: absolute;
                      bottom: 12px;
                      right: 10px;
                      cursor: pointer;
                    " nz-tooltip="Sắp xếp giảm dần" nz-icon nzType="swap" [nzRotate]="90" nzTheme="outline"></span>
                  <span *ngIf="countSort > 0 && sortOrder == 'descend'" style="
                      float: right;
                      position: absolute;
                      bottom: 12px;
                      right: 10px;
                      cursor: pointer;
                    " nz-tooltip="Sắp xếp tăng dần" nz-icon nzType="arrow-down" nzTheme="outline"></span>
                  <span *ngIf="countSort > 0 && sortOrder == 'ascend'" style="
                      float: right;
                      position: absolute;
                      bottom: 12px;
                      right: 10px;
                      cursor: pointer;
                    " nz-tooltip="Sắp xếp giảm dần" nz-icon nzType="arrow-up" nzTheme="outline"></span>
                </th>
              </ng-container>
            </ng-container>
            <th nzWidth="100px" nzAlign="center" nzRight>
              {{ "table.action" | translate }}
            </th>
          </tr>
        </thead>
        <tbody [class]="datas.length <= 0 ? '' : 'striped-tr'">
          <tr>
            <ng-container *ngFor="let column of columns">
              <ng-container *ngIf="
                  column.check && column.keyName == 'consignmentContractCode'
                ">
                <td>
                  <nz-input-group nzSearch [nzPrefix]="prefixconsignmentContractCode"
                    [nzSuffix]="suffixconsignmentContractCode">
                    <input type="text" nz-input [(ngModel)]="dataFilter.consignmentContractCode"
                      (keyup)="enterSearch($event)" />
                  </nz-input-group>
                  <ng-template #prefixconsignmentContractCode>
                    <span (click)="search()" class="search-click" nz-icon nzType="search" style="color: #d9d9d9"></span>
                  </ng-template>
                  <ng-template #suffixconsignmentContractCode>
                    <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                      *ngIf="dataFilter.consignmentContractCode" (click)="clear(column)"></span>
                  </ng-template>
                </td>
              </ng-container>
              <ng-container *ngIf="column.check && column.keyName == 'customerCode'">
                <td>
                  <nz-input-group nzSearch [nzPrefix]="prefixcustomerCode" [nzSuffix]="suffixcustomerCode">
                    <input type="text" nz-input [(ngModel)]="dataFilter.customerCode" (keyup)="enterSearch($event)" />
                  </nz-input-group>
                  <ng-template #prefixcustomerCode>
                    <span (click)="search()" class="search-click" nz-icon nzType="search" style="color: #d9d9d9"></span>
                  </ng-template>
                  <ng-template #suffixcustomerCode>
                    <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                      *ngIf="dataFilter.customerCode" (click)="clear(column)"></span>
                  </ng-template>
                </td>
              </ng-container>
              <ng-container *ngIf="column.check && column.keyName == 'customerName'">
                <td>
                  <nz-input-group nzSearch [nzPrefix]="prefixcustomerName" [nzSuffix]="suffixcustomerName">
                    <input type="text" nz-input [(ngModel)]="dataFilter.customerName" (keyup)="enterSearch($event)" />
                  </nz-input-group>
                  <ng-template #prefixcustomerName>
                    <span (click)="search()" class="search-click" nz-icon nzType="search" style="color: #d9d9d9"></span>
                  </ng-template>
                  <ng-template #suffixcustomerName>
                    <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                      *ngIf="dataFilter.customerName" (click)="clear(column)"></span>
                  </ng-template>
                </td>
              </ng-container>
              <ng-container *ngIf="column.check && column.keyName == 'address'">
                <td>
                  <nz-input-group nzSearch [nzPrefix]="prefixaddress" [nzSuffix]="suffixaddress">
                    <input type="text" nz-input [(ngModel)]="dataFilter.address" (keyup)="enterSearch($event)" />
                  </nz-input-group>
                  <ng-template #prefixaddress>
                    <span (click)="search()" class="search-click" nz-icon nzType="search" style="color: #d9d9d9"></span>
                  </ng-template>
                  <ng-template #suffixaddress>
                    <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                      *ngIf="dataFilter.address" (click)="clear(column)"></span>
                  </ng-template>
                </td>
              </ng-container>
              <ng-container *ngIf="column.check && column.keyName == 'customerPhone'">
                <td>
                  <nz-input-group nzSearch [nzPrefix]="prefixcustomerPhone" [nzSuffix]="suffixcustomerPhone">
                    <input type="text" nz-input [(ngModel)]="dataFilter.customerPhone" (keyup)="enterSearch($event)" />
                  </nz-input-group>
                  <ng-template #prefixcustomerPhone>
                    <span (click)="search()" class="search-click" nz-icon nzType="search" style="color: #d9d9d9"></span>
                  </ng-template>
                  <ng-template #suffixcustomerPhone>
                    <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                      *ngIf="dataFilter.customerPhone" (click)="clear(column)"></span>
                  </ng-template>
                </td>
              </ng-container>
              <ng-container *ngIf="column.check && column.keyName == 'createdBy'">
                <td>
                  <nz-input-group nzSearch [nzPrefix]="prefixcreatedBy" [nzSuffix]="suffixcreatedBy">
                    <input type="text" nz-input [(ngModel)]="dataFilter.createdBy" (keyup)="enterSearch($event)" />
                  </nz-input-group>
                  <ng-template #prefixcreatedBy>
                    <span (click)="search()" class="search-click" nz-icon nzType="search" style="color: #d9d9d9"></span>
                  </ng-template>
                  <ng-template #suffixcreatedBy>
                    <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                      *ngIf="dataFilter.createdBy" (click)="clear(column)"></span>
                  </ng-template>
                </td>
              </ng-container>

              <ng-container *ngIf="column.check && column.keyName == 'createdAt'">
                <td>
                  <nz-range-picker [(ngModel)]="dataFilter[column.keyName]" (ngModelChange)="rangeDate()"
                    [nzPlaceHolder]="[
                      'start_date' | translate,
                      'end_date' | translate
                    ]"></nz-range-picker>
                </td>
              </ng-container>
              <ng-container *ngIf="column.check && column.keyName == 'updatedAt'">
                <td>
                  <nz-range-picker [(ngModel)]="dataFilter[column.keyName]" (ngModelChange)="rangeDate()"
                    [nzPlaceHolder]="[
                      'start_date' | translate,
                      'end_date' | translate
                    ]"></nz-range-picker>
                </td>
              </ng-container>
              <ng-container *ngIf="column.check && column.keyName == 'contractCreatedAt'">
                <td>
                  <nz-range-picker [(ngModel)]="dataFilter[column.keyName]" (ngModelChange)="rangeDate()"
                    [nzPlaceHolder]="[
                      'start_date' | translate,
                      'end_date' | translate
                    ]"></nz-range-picker>
                </td>
              </ng-container>
              <ng-container *ngIf="column.check && column.keyName == 'deliveryAt'">
                <td>
                  <nz-range-picker [(ngModel)]="dataFilter[column.keyName]" (ngModelChange)="rangeDate()"
                    [nzPlaceHolder]="[
                      'start_date' | translate,
                      'end_date' | translate
                    ]"></nz-range-picker>
                </td>
              </ng-container>

              <ng-container *ngIf="column.check && column.keyName == 'status'">
                <td>
                  <nz-select class="select-search" style="width: 100%" [nzAllowClear]="true"
                    nzPlaceHolder="{{ 'all_select' | translate }}" [(ngModel)]="dataFilter[column.keyName]"
                    (ngModelChange)="search()">
                    <nz-option [nzValue]="1" nzLabel="Đóng"></nz-option>
                    <nz-option [nzValue]="2" nzLabel="Mở"></nz-option>
                    <nz-option [nzValue]="0" nzLabel="Bản nháp"></nz-option>
                  </nz-select>
                </td>
              </ng-container>
            </ng-container>
            <td nzRight></td>
          </tr>
          <ng-container *ngFor="let row of warehouseTable.data; let i = index">
            <tr>
              <ng-container *ngFor="let column of columns; let j = index">
                <ng-container *ngIf="column.check">
                  <td *ngIf="
                      column.keyName !== 'status' &&
                      column.keyName !== 'contractCreatedAt' &&
                      column.keyName !== 'createdAt' &&
                      column.keyName !== 'updatedAt'
                    ">
                    {{ row[column.keyName] }}
                  </td>
                  <td *ngIf="column.keyName == 'contractCreatedAt'" nzAlign="right">
                    {{ row["contractCreatedAt"] | date : "dd/MM/yyyy" }}
                  </td>
                  <td *ngIf="column.keyName == 'createdAt'" nzAlign="right">
                    {{ row["createdAt"] | date : "dd/MM/yyyy" }}
                  </td>
                  <td *ngIf="column.keyName == 'updatedAt'" nzAlign="right">
                    {{ row["updatedAt"] | date : "dd/MM/yyyy" }}
                  </td>
                  <td nzAlign="center" *ngIf="column.keyName === 'status'">
                    <div [ngSwitch]="row[column.keyName]">
                      <div class="border-element bordered-element__status_1" *ngSwitchCase="1">
                        {{ "Đóng" | translate }}
                      </div>
                      <div class="border-element bordered-element__status_4" *ngSwitchCase="2">
                        {{ "Mở" | translate }}
                      </div>
                      <div class="border-element bordered-element__status_2" *ngSwitchCase="0">
                        {{ "Bản nháp" | translate }}
                      </div>
                    </div>
                  </td>
                </ng-container>
              </ng-container>
              <td nzRight>
                <div class="d-flex j-content-center a-items-center">
                  <nz-col class="w-32px">
                    <app-button *ngIf="
                        row['status'] == 2 &&
                        (checkIsRole('wms_import-request_create') || checkIsRole('FCIM_ADMIN'))
                      " [iconTheme]="'fill'" [iconType]="'plus-circle'" (btnClick)="onHandleNewIQC(row)"
                      [buttonType]="'text'" [isDisable]="row['iqcCreated'] ? true : false">
                    </app-button>
                  </nz-col>
                  <nz-col class="w-32px">
                    <app-button [iconTheme]="'fill'" [iconType]="'info-circle'" (btnClick)="onHandleView(row)"
                      nz-tooltip="Xem chi tiết hợp đồng ký gửi" [buttonType]="'text'">
                    </app-button>
                  </nz-col>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </nz-col>
  </nz-row>
  <nz-row *ngIf="total" nzGutter="24" nzAlign="middle" nzJustify="center">
    <div nz-col nzSpan="24">
      <app-pagination [currentPage]="page" [currentSize]="per_page" [total]="total"
        (emitPage)="pagination($event)"></app-pagination>
    </div>
  </nz-row>
</div>