.container {}

.container-left {
  height: 100%;
  min-height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 24px 0;
}

.container-right {
  height: 100%;
  min-height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 24px
}

.mark__all-read {
  cursor: pointer;
  color: #FF7A00
}

.container-left__notify {
  height: 80%;
  overflow-y: scroll;
  padding: 8px;
  margin-top: 12px
}


.mark__all-read:hover {
  cursor: pointer;
}

.box-notify:hover {
  cursor: pointer;
  background-color: #fffaf6;
  color: #000
}


.box {
  height: 70vh;
  overflow-y: scroll;
  margin-top: 12px;
  border-radius: 8px;
  padding: 12px 24px 0;
}

.box-notify {
  background: #fff;
  border-radius: 8px;
  display: block;
  width: 100%;
  box-shadow: 0px 2px 10px 0px #0000001A;
  color: black
}

.box .ellipsis-container {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 42px;
}


.highlighted {
  background-color: #FFF3E8;
  color: #000
}

.message-text {
  text-decoration: underline;
  color: #0047ff
}
